<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="/assets/img/products/uploads/{{products.img}}" alt="">
					</div>
				</div>

				<div class="col-md-7">
					<div class="single-product-content">
						<h3>{{products.ten}}</h3>
						<p class="single-product-pricing"><span>Giá</span></p>
						<p class="single-product-pricing">{{products.gia}}</p>
						
						<p>{{products.moTa}}</p>
						
						<div class="single-product-form">

							<p><strong>Categories: </strong>Fruits, Organic</p>
						</div>
						
					</div>
				</div>

			</div>
		</div>
	</div>