<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">About</h2>
						<ul>
							<li>Rau củ quả Organic 100%</li>							
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Liên Lạc</h2>
						<ul>
							<li>Quận 6, Hồ Chí Minh</li>
							<li>manhcuong@raucuaqua.com</li>
							<li>+84 909156037</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Quản Lý</h2>
						<ul>
							<li><a href="/me/stored/products" target="_blank">Rau Củ Quả</a></li>
							<li><a href="/me/stored/accounts">User</a></li>
							<li><a href="/me/stored/hoadonchitiet">Hóa Đơn Của User</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - <a href="">Lam Manh Cuong</a>,  All Rights Reserved.<br></p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
<!-- jquery -->
	<script src="/assets/js/cart.js"></script>

	<script src="/assets/js/jquery-3.5.1.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>
